extends ../../templates/page/template.page-base-adaptativo.pug

block styles
    link(rel="stylesheet", href="style.css")

block body
    .container
        +quiz({
            id: '9',
            enunciado: 'O time de Produtos está desenvolvendo um novo aplicativo de pagamentos para compor a <br> lista de serviços financeiros da Vivo.<br><br> <b>Por ser um novo produto/serviço que envolve o tratamento de dados pessoais, que <br>procedimento deve ser realizado?</b>',
            alternatives: [
                {
                    class: 'resposta-errada',
                    text: 'Seguir com o desenvolvimento do novo produto, sem o envolvimento da área DPO, pois serão usados apenas dados financeiros e telefone.',
                    score: '0'
                },
                {
                    class: 'resposta-correta',
                    text: 'Procurar a área DPO para iniciar o fluxo de Privacy by Design.',
                    score: '1'
                }
            ],
            feedbacks: [
                {
                    class: 'feedback-positivo',
                    title: 'É assim que se faz! Acertou em cheio.',
                    text: 'Acionar a área DPO e iniciar um novo fluxo de Privacy by Design é o procedimento que deve ser feito em todos os novos projetos que envolvam tratamento de dados pessoais e o desenvolvimento de <br> novos produtos ou serviços.<br><br> Isso garante que a privacidade e a proteção de dados pessoais estejam presentes desde a fase de concepção do produto/serviço até a sua execução. <br><br> <b>#FicaADica:</b> em caso de dúvidas, acesse a página da área DPO na intranet (http://intranet.telefonica.com.br/sitearea-data-protection-office-).'
                },
                {
                    class: 'feedback-negativo',
                    title: 'Calma, temos mais uma chance viu?!',
                    text: '<b>Resposta correta:</b> o procedimento correto a se fazer neste caso é acionar a área DPO e iniciar um novo fluxo de Privacy by Design. <br><br> <b>Justificativa:</b> se o processo acima não for seguido, o novo produto/serviço corre o risco de ser implementado sem estar aderente às práticas de privacidade e proteção de dados e à LGPD.  <br><br> <b>#FicaADica:</b>  em caso de dúvidas, acesse a página da área DPO na intranet (http://intranet.telefonica.com.br/sitearea-data-protection-office-).'
                }
            ]
        })



block scripts
    +scriptScripts('pick-one-init.js')