extends ../../templates/page/template.page-base-adaptativo.pug

block styles
    link(rel="stylesheet", href="style.css")

block body
    .container
        +quiz({
            id: '5',
            enunciado: 'Para o desenvolvimento de uma solução de mobilidade urbana, a Vivo está em via de lançar um produto que auxilia a reduzir o trânsito em grandes cidades. A tecnologia utiliza mapas de calor para identificação de grupos de pessoas se locomovendo pela cidade e altera tempos de semáforos, modificando a velocidade de faixas de maneira inteligente. Todos os dados utilizados na solução são anonimizados, ou seja, não é possível identificar nenhum indivíduo a partir desses dados.  <br><br> <b>A LGPD se aplica à solução desenvolvida para redução do trânsito por meio do uso de mapas de calor?</b>',
            alternatives: [
                {
                    class: 'resposta-correta',
                    text: 'Não, a LGPD não se aplica ao uso de dados anonimizados. Apenas é aplicável ao tratamento de dados pessoais que identifiquem ou tornem um indivíduo identificável.',
                    score: '1'
                },
                {
                    class: 'resposta-errada',
                    text: 'Sim, a LGPD se aplica nesse caso, porque existe coleta de dados agrupados.',
                    score: '0'
                }
            ],
            feedbacks: [
                {
                    class: 'feedback-positivo',
                    title: 'É assim que se faz! Acertou em cheio.',
                    text: 'A LGPD não se aplica por se tratar do uso de dados anonimizados, ou seja, informações que não são capazes de identificar uma pessoa natural.<br><br> Os dados anonimizados são aqueles que passaram por um processo de desidentificação dos dados, isto é, tornando o indivíduo anônimo, sem possibilidade de identificação.  <br><br> <b>#FicaADica:</b> dados anonimizados não estão sujeitos à aplicação da LGPD e por isso são recomendados. Em caso de dúvida, entre em contato com a equipe DPO para esclarecer como isso se aplicará no seu projeto ou processo de negócio.'
                },
                {
                    class: 'feedback-negativo',
                    title: 'Poxa, precisamos melhorar isso aí!',
                    text: '<b>Resposta correta:</b> para o caso em questão, a LGPD não se aplica por se tratar do uso de dados anonimizados, isto é, dados que não permitem a <br> associação a uma pessoa.<br><br> <b>Justificativa:</b> no tratamento de dados anonimizados, por não ser possível identificar um indivíduo específico, não há aplicação da LGPD.<br><br> <b>#FicaADica:</b> dados anonimizados não estão sujeitos à aplicação da LGPD e por isso são recomendados. Em caso de dúvida, entre em contato com a equipe DPO para esclarecer como isso se aplicará no seu projeto ou processo de negócio.'
                }
            ]
        })



block scripts
    +scriptScripts('pick-one-init.js')