extends ../../templates/page/template.page-base-adaptativo.pug

block styles
    link(rel="stylesheet", href="style.css")

block body
    .container.containerAnima2
        .bg
        #particles-js
        .triangulo.right
            .triangImg.highFreq
        .block.left.delay1
        .torre.up
            .torreImg.flicker
        .next.left.delay3
            .nextIco
        .text
            .title.left.delay4 Investindo em<br> criptoativos
            p.left.delay5 Neste segundo Meta-módulo você descobrirá meios e ferramentas para decolar com seus investimentos.
        .btn.zoomIn.delay7(onclick="navigate.next()")
            .img
                

block scripts
    script(src="script.js")