extends ../../templates/page/template.page-base-adaptativo.pug

block styles
    link(rel="stylesheet", href="style.css")

block body
    .container
        .bg
        #particles-js
        .comeiaAll.zoomIn.delay3
            +image('comeiaIcoCentral.svg', "comeiaCenter zoomIn delay4")
            +image('comeiaItem1.svg', "comeiaItem comeiaItem1")
            +image('comeiaItem1.svg', "comeiaItem comeiaItem2")
            +image('comeiaItem1.svg', "comeiaItem comeiaItem3")
            +image('comeiaItem1.svg', "comeiaItem comeiaItem4")
            +image('comeiaItem1.svg', "comeiaItem comeiaItem5")
            +image('comeiaItem1.svg', "comeiaItem comeiaItem6")
           
            .hit.comeiaItem1(item=1 , page="05_material" )
                +comeiaHit()
                .seta
                    p.down Segredo das Informações
                    +image('setaComeia.svg', "setaComeia in")
            .hit.comeiaItem2(item=2, page="05_material" )
                +comeiaHit()
                .seta
                    +image('setaComeia.svg', "setaComeia in")
                    p.right Segredo das Informações
                    
            .hit.comeiaItem3(item=3, page="05_material" )
                +comeiaHit()
                .seta
                    +image('setaComeia.svg', "setaComeia in")
                    p.up Segredo das Informações
            .hit.comeiaItem4(item=4, page="05_material" )
                +comeiaHit()
                .seta
                    +image('setaComeia.svg', "setaComeia in")
                    p.up Segredo das Informações
            .hit.comeiaItem5(item=5, page="05_material" )
                +comeiaHit()
                .seta
                    p.left Segredo das Informações
                    +image('setaComeia.svg', "setaComeia in")
            .hit.comeiaItem6(item=6, page="05_material" )
                +comeiaHit()
                .seta
                    p.down Segredo das Informações
                    +image('setaComeia.svg', "setaComeia in")

                   
                

block scripts
    script(src="script.js")