extends ../../templates/page/template.page-base-adaptativo.pug

block styles
    link(rel="stylesheet", href="style.css")

block body
    .container
        .bg
        #particles-js
        .triangulo.down.delay1(onclick="navigate.next()")
            .triangImg.flicker
            .titleContainer.up.delay2
                .title.highFreq
            .blockchain.zoomIn.delay4
                

block scripts
    script(src="script.js")