extends ../../templates/page/template.page-base-adaptativo.pug

block styles
    link(rel="stylesheet", href="style.css")

block body
    .container
        .embed-container
            iframe(src='https://player.vimeo.com/video/697502745', frameborder='0', allowFullScreen)
        .close-page(page="04_c1", materialComplete=1)
            +image('closeBtn.svg')

block scripts
    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/froogaloop.js"></script>
    script(src="script.js")