mixin scriptVendor(name)
	script(src="../../vendor/"+name)
mixin scriptModule(name)
	script(src="../../modules/"+name)
mixin scriptScripts(name)
	script(src="../../scripts/"+name)
mixin linkVendor(name)
	link(rel="stylesheet" href="../../vendor/"+name)
mixin linkModule(name)
	link(rel="stylesheet" href="../../modules/"+name)
mixin image(filename, classes)
	img(src="../../assets/img/"+filename, class=classes)