extends ../../templates/page/template.page-base-adaptativo.pug

block styles
    link(rel="stylesheet", href="style.css")

block body
    .container.containerAnima1
        .bg
        #particles-js
        .triangulo.zoomIn.delay1
            .cityContainer.zoomIn.delay2
                video.safari_only(src="../../assets/videos/material.webm", preload="auto", autoplay, loop, muted )
                +image('material.svg',"city safari_only")
            .materia( comeia=1, material=2 )
                //- .hit.hit1(item=1 , page="05_material" )
                //-     .hitBase.zoomIn.delay3
                //-         +image('ico1Material.png',"hitImg")
                //-         +image('borderMaterial.svg',"borderM")
                //-     .text.down
                //-         .textInt Minimizando a Volatilidade
                //- .hit.hit2(item=2 , page="05_material" )
                //-     .hitBase.zoomIn.delay4
                //-         +image('ico2Material.png',"hitImg")
                //-         +image('borderMaterial.svg',"borderM")
                //-     .text.down
                //-         .textInt Minimizando a Volatilidade
                //- .hit.hit3(item=3 , page="05_material" )
                //-     .hitBase.zoomIn.delay5
                //-         +image('ico1Material.png',"hitImg")
                //-         +image('borderMaterial.svg',"borderM")
                //-     .text.down
                //-         .textInt Minimizando a Volatilidade
                .hit.hit4.item1(item=1 , page="08_c1_m2_video" )
                    .hitBase.zoomIn.delay3
                        +image('ico1Material.png',"hitImg")
                        +image('borderMaterial.svg',"borderM")
                    .text.down
                        .textInt O que é Criptomoeda? (BTC e ETH)
                //- .hit.hit5(item=5 , page="05_material" )
                //-     .hitBase.zoomIn.delay7
                //-         +image('ico1Material.png',"hitImg")
                //-         +image('borderMaterial.svg',"borderM")
                //-     .text.down
                //-         .textInt Minimizando a Volatilidade
                .hit.hit6.item2(item=2 , page="09_c1_m2_pdf" )
                    .hitBase.zoomIn.delay4
                        +image('ico2Material.png',"hitImg")
                        +image('borderMaterial.svg',"borderM")
                    .text.down
                        .textInt O que é Criptomoeda?
                
                   
                

block scripts
    script(src="script.js")