extends ../../templates/page/template.page-base-adaptativo.pug

block styles
    link(rel="stylesheet", href="style.css")

block body
    .container.containerAnima1
        .bg
        #particles-js
        .triangulo.zoomIn.delay1
            .cityContainer.zoomIn.delay2
                video.safari_only(src="../../assets/videos/material.webm", preload="auto", autoplay, loop, muted )
                +image('material.svg',"city safari_only")
            .materia( comeia=2, material=3 )
                .hit.hit1.item1(item=1 , page="34_c2_m3_video1" )
                    .hitBase.zoomIn.delay3
                        +image('ico1Material.png',"hitImg")
                        +image('borderMaterial.svg',"borderM")
                    .text.down
                        .textInt Exchange
                //- .hit.hit2(item=2 , page="05_material" )
                //-     .hitBase.zoomIn.delay4
                //-         +image('ico2Material.png',"hitImg")
                //-         +image('borderMaterial.svg',"borderM")
                //-     .text.down
                //-         .textInt Minimizando a Volatilidade
                .hit.hit3.item2(item=2 , page="35_c2_m3_pdf1" )
                    .hitBase.zoomIn.delay4
                        +image('ico1Material.png',"hitImg")
                        +image('borderMaterial.svg',"borderM")
                    .text.down
                        .textInt Exchange - Complemento
                .hit.hit4.item3(item=3 , page="36_c2_m3_video2" )
                    .hitBase.zoomIn.delay5
                        +image('ico1Material.png',"hitImg")
                        +image('borderMaterial.svg',"borderM")
                    .text.down
                        .textInt Custódia Digital
                //- .hit.hit5(item=5 , page="05_material" )
                //-     .hitBase.zoomIn.delay7
                //-         +image('ico1Material.png',"hitImg")
                //-         +image('borderMaterial.svg',"borderM")
                //-     .text.down
                //-         .textInt Minimizando a Volatilidade
                .hit.hit6.item4(item=4 , page="37_c2_m3_pdf2" )
                    .hitBase.zoomIn.delay6
                        +image('ico2Material.png',"hitImg")
                        +image('borderMaterial.svg',"borderM")
                    .text.down
                        .textInt Custódia Digital - Complemento
                
                   
                

block scripts
    script(src="script.js")