extends ../../templates/page/template.page-base-adaptativo.pug

block styles
    link(rel="stylesheet", href="style.css")

block body
    .container
        .embed-container
            iframe(src='https://player.vimeo.com/video/704151737?h=720e44fc8f', frameborder='0', allowFullScreen)
        .close-page(page="26_c2_m2")
            +image('closeBtn.svg')

block scripts
    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/froogaloop.js"></script>
    script(src="script.js")