extends ../../templates/page/template.page-base-adaptativo.pug

block styles
    link(rel="stylesheet", href="style.css")

block body
    .container
        .bg
        #particles-js
        .triangulo.right
            .triangImg.highFreq
        .block.left.delay1
        .torre.up
            .torreImg.flicker
        .next.left.delay3
            .nextIco
        .text
            .title.left.delay4 CONHECENDO CRIPTOATIVOS
            p.left.delay5 Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
        .btn.zoomIn.delay7(onclick="navigate.next()")
            .img
                

block scripts
    script(src="script.js")