extends ../../templates/page/template.page-base-adaptativo.pug

block styles
    link(rel="stylesheet", href="style.css")

block body
    .container
        .controlAvatas 
            .controlPodio1
                +image('avatar1.svg', 'avatar avatar1 hide')
                +image('avatar2.svg', 'avatar avatar2 hide')
                +image('avatar3.svg', 'avatar avatar3')
            .controlPodio2
                +image('avatar1.svg', 'avatar avatar1 hide')
                +image('avatar2.svg', 'avatar avatar2 hide')
                +image('avatar3.svg', 'avatar avatar3 hide')
            .controlPodio3
                +image('avatar1.svg', 'avatar avatar1 hide')
                +image('avatar2.svg', 'avatar avatar2 hide')
                +image('avatar3.svg', 'avatar avatar3 hide')

        .image
            +image('podio.png')
        .texts
            p.title Pontuação:
            p.score
            p.feedback
            .button.btn-feed1.hide
                +button({
                    text: 'Avançar',
                    icon: 'icon01.png'
                })
            .button.btn-feed2.hide
                +button({
                    text: 'Refazer',
                    icon: 'icon01.png'
                })
            .button.btn-feed3.hide
                +button({
                    text: 'Avançar',
                    icon: 'icon01.png'
                })      





block scripts
    script(src="script.js")
