extends ../../templates/page/template.page-base-adaptativo.pug

block styles
    link(rel="stylesheet", href="style.css")

block body
    .container
        .embed-container
            iframe(src='https://player.vimeo.com/video/697502745', frameborder='0', allowFullScreen)
        .close-page(page="10_c1_m3")
            +image('closeBtn.svg')

block scripts
    script(src="script.js")