extends ../../templates/page/template.page-base-adaptativo.pug

block styles
    link(rel="stylesheet", href="style.css")

block body
    .container
        +quiz({
            id: '3',
            enunciado: 'Joana é analista da equipe de Qualidade e fechou uma nova parceria com um fornecedor que realizará uma pesquisa de satisfação com alguns clientes da Vivo. Ao tentar enviar uma planilha contendo os dados pessoais dos clientes, Joana recebe um alerta em seu computador sobre o envio de dados <br> pessoais para um ambiente externo.  <br><br> <b>Qual ação deve ser tomada por Joana?</b>',
            alternatives: [
                {
                    class: 'resposta-errada',
                    text: 'Enviar a planilha contendo os dados pessoais por outros meios.',
                    score: '0'
                },
                {
                    class: 'resposta-correta',
                    text: 'Seguir as orientações da área de Segurança Digital e mapear seu processo de negócio <br>com a equipe DPO.',
                    score: '1'
                }
            ],
            feedbacks: [
                {
                    class: 'feedback-positivo',
                    title: 'Muito bem!',
                    text: 'Caso o envio de dados pessoais para o ambiente externo ainda não tenha sido mapeado pela área DPO, existe a possibilidade de notificação da ação ao gerente do colaborador, que deverá justificar o envio dos dados. <br><br> Isso acontece pois a área de Segurança Digital monitora todo e qualquer envio de dados para ambientes externos, garantindo a segurança dos dados pessoais tratados na Vivo. Por isso, é muito importante que todas as demandas que envolvam dados pessoais passem pelos fluxos de avaliação da área DPO. <br><br> <b>#FicaADica:</b> em caso de dúvidas, a área poderá procurar a equipe de Segurança Digital pelo e-mail segurancadedados.br@telefonica.com e, para questões envolvendo o mapeamento/Privacy by Design, ela poderá acessar o link na intranet: http://intranet.telefonica.com.br/sitearea-data-protection-office- ou procurar a área DPO pelo e-mail lgpd.br@telefonica.com.'
                },
                {
                    class: 'feedback-negativo',
                    title: 'Não foi dessa vez! Mas não se preocupe, você terá mais tentativas.',
                    text: '<b>Resposta correta:</b> a área deve sempre justificar o envio dos dados pessoais para o ambiente externo da Vivo, e esse envio deve ser homologado e mapeado pela equipe de Segurança Digital e, a depender do caso, o processo deve passar pelo mapeamento/Privacy by Design do Escritório de Privacidade. <br><br> <b>Justificativa:</b> sa Vivo preza a segurança dos dados pessoais que tratamos e, dessa forma, adotamos cuidados para enviá-los para terceiros que se encontram no ambiente externo. Nesse sentido, sempre que existir um novo processo que envolva o tratamento de dados pessoais, a área deve procurar o Escritório de Privacidade para realizar o mapeamento do processo por meio da plataforma Axon e para validar o envio dessa informação no DLP. <br><br> <b>#FicaADica:</b>  em caso de dúvidas, a área poderá procurar a equipe de Segurança Digital pelo endereço segurancadedados.br@telefonica.com e, para questões envolvendo o mapeamento/Privacy by Design, ela poderá acessar o link na intranet: http://intranet.telefonica.com.br/sitearea-dpo-privacy-by-design ou procurar o Escritório de Privacidade pelo endereço eletrônico lgpd.br@telefonica.com.'
                }
            ]
        })



block scripts
    +scriptScripts('pick-one-init.js')