extends ../../templates/page/template.page-base-adaptativo.pug

block styles
    link(rel="stylesheet", href="style.css")

block body
    .container
        +quiz({
            id: '10',
            enunciado: 'A equipe de Produtos B2B está desenvolvendo uma nova solução aplicável aos clientes B2B. Para execução dessa nova solução, a equipe utilizará o nome empresarial, o CNPJ e o endereço comercial, sendo todas essas informações relacionadas a Pessoa Jurídica. Ao ter conhecimento sobre a atuação da companhia com a LGPD, o gestor começa a realizar o mapeamento do processo. <br><br> <b>Considerando as diretrizes e regras da LGPD, o gestor precisaria realizar o <br>mapeamento da solução em destaque?</b>',
            alternatives: [
                {
                    class: 'resposta-errada',
                    text: 'Sim. A solução desenvolvida pelo time de Produtos deve ser mapeada pela área DPO, pois realiza o tratamento de dados dos clientes B2B (Pessoa Jurídica).',
                    score: '0'
                },
                {
                    class: 'resposta-correta',
                    text: 'Não. A solução em desenvolvimento pelo time de Produtos não realiza o tratamento de dados pessoais (Pessoa Física), não sendo aplicável a LGPD e não sendo necessário <br>o mapeamento das informações.',
                    score: '1'
                }
            ],
            feedbacks: [
                {
                    class: 'feedback-positivo',
                    title: 'É assim que se faz! Acertou em cheio.',
                    text: 'A LGPD somente se aplica quando existe tratamento de dados pessoais de Pessoa Física, e a solução desenvolvida por Amanda e pelo time de Produtos B2B apenas utiliza informações relativas a Pessoa Jurídica, não sendo necessário realizar o mapeamento dos dados. <br><br> <b>#FicaADica:</b> caso Amanda utilizasse os dados pessoais dos representantes da Pessoa Jurídica do cliente B2B, tais como nome, CPF e e-mail, a solução deveria ser mapeada, pois a LGPD se aplica a esses casos.'
                },
                {
                    class: 'feedback-negativo',
                    title: 'Foi por pouco!',
                    text: '<b>Resposta correta:</b> as informações que Amanda e o time de Produtos B2B desejam utilizar no desenvolvimento da solução não são dados pessoais, pois não são relativas a Pessoa Física. Nesses casos, a LGPD não é aplicável. <br><br> <b>#FicaADica:</b> caso Amanda utilizasse os dados pessoais dos representantes da Pessoa Jurídica do cliente B2B, tais como nome, CPF e e-mail, a solução deveria ser mapeada, pois a LGPD se aplica a esses casos.'
                }
            ]
        })



block scripts
    +scriptScripts('pick-one-init.js')