extends ./templates/main/template.estrutura-principal.pug
block title
	| Investimento em Cripto Ativos
block hud
block popups
block modules-js
	script(src='app/modules/behavior.adaptative.js')
	script(src='app/scripts/resize.js')
	script(src='app/modules/component.modal.js')